// place your custom styles here
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Zhi+Mang+Xing&display=swap");

footer {
    display: flex;
    flex-direction: column;
    .icpcode {
        color: var(--dark-grey);
        margin-bottom: 8px;
    }

    .beian {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        .logo {
            margin: 0 5px;
            width: 16px;
        }
        a {
            color: var(--dark-grey);
        }
    }
    .my-footer {
        display: flex;
        flex-direction: column;
    }
    .vp-copyright {
        margin-top: 0;
    }
}

.vp-blog-hero-title {
    font-family: "Permanent Marker", cursive;
    font-size: 72px;
}

.vp-blog-hero-description {
    font-family: "Zhi Mang Xing", cursive;
    font-size: 20px;
}

@media (max-width: 719px) {
    .vp-blog-hero-image {
        margin: 1.5rem 4% !important;
        width: fit-content;
    }
    .vp-blog-hero-title {
        margin: 0 4% !important;
    }
    .vp-blog-hero-description {
        font-family: "Zhi Mang Xing", cursive;
        font-size: 20px;
        margin-left: 4%;
    }
}

.vp-nav-logo {
    border-radius: 50%;
}
