// place your custom styles here
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Zhi+Mang+Xing&display=swap");

footer {
    display: flex;
    flex-direction: column;
    .icpcode {
        color: var(--dark-grey);
        margin-bottom: 8px;
    }

    .beian {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        .logo {
            margin: 0 5px;
            width: 16px;
        }
        a {
            color: var(--dark-grey);
        }
    }
    .my-footer {
        display: flex;
        flex-direction: column;
    }
    .vp-copyright {
        margin-top: 0;
    }
}

.vp-blog-hero-title {
    font-family: "Permanent Marker", cursive;
    font-size: 72px;
}

.vp-blog-hero-description {
    font-family: "Zhi Mang Xing", cursive;
    font-size: 20px;
}

@media (max-width: 719px) {
    .vp-blog-hero-image {
        margin: 1.5rem 4% !important;
        width: fit-content;
    }
    .vp-blog-hero-title {
        margin: 0 4% !important;
    }
    .vp-blog-hero-description {
        font-family: "Zhi Mang Xing", cursive;
        font-size: 20px;
        margin-left: 4%;
    }
}

.vp-nav-logo {
    border-radius: 50%;
}

#main-content,
.vp-blog-info-wrapper,
.vp-blog-hero {
    z-index: 3;
}

#sidebar {
    z-index: 4;
    background: none;
    backdrop-filter: none;
}

.vp-sidebar-links {
    // background-color: var(--bg-color);   
    height: calc(100% - var(--navbar-height));
    backdrop-filter: saturate(150%) blur(12px);
}

.vp-breadcrumb,
.vp-page-title,
.theme-hope-content,
.page-meta,
.vp-page-nav,
#comment {
    // background-color: var(--bg-color);
    backdrop-filter: saturate(150%) blur(12px);
}
.vp-page-title hr {
    margin: 0;
}

#main-content .theme-hope-content {
    padding-top: 8.5px !important;
}

#main-content .vp-page-title .page-info {
    padding-bottom: 8.5px !important;
}
